@model Book

@{
    ViewData["Title"] = "Crear Libro";
    var AuthorsList = ViewBag.AuthorsList;
}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-primary">Crear Libro</h1>
        </div>
    </div>


    <div class="row mt-4">
        <form asp-action="Create" method="post">

            <div class="container">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="form-group mb-3">
                            <strong><label asp-for="Title" class="form-label"></label></strong>
                            <input asp-for="Title" type="text" class="form-control" placeholder="Ingrese el titulo del libro"/>
                            <span asp-validation-for="Title" class="text-danger px-2"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8 offset-2">
                        <div class="form-group mb-3">
                            <strong><label asp-for="AuthorId" class="form-label">Autores</label></strong>
                            <select asp-for="AuthorId" asp-items="AuthorsList" class="form-select">
                                <option value="">Seleccione un autor</option>
                            </select>
                            <span asp-validation-for="AuthorId" class="text-danger px-2"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary" style="width:25%">Crear</button>
                        <a asp-action="Index" class="btn btn-secondary" style="width:25%">Volver</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>